[API]
APITOKEN = apitoken
USERNAME = username
APPNAME = ShockVRC

[PETS]
PETS =
      code1
      code2
      code3


[TOUCHPOINTS]
TOUCHPOINTS =
             code1
             code2
             code3
[Settings]
IP = 127.0.0.1
Port = 9001
